body{
  background-color:  #435056;
}
h1{
  color: #ffffff

}

#headers{
  font-family: "Chewy", cursive;
}


.search{
  margin: 10px;
  padding: 5px 15px 15px 20px;
  border-radius: 10px;
  background-color: #f1f3f4;
}
